<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/assets/dist/img/winners.png}">
</head>

<aside class="main-sidebar .sidebar-light-danger elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img th:src="@{/assets/dist/img/winners.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-normal">WCITO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                </span>
                <span>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">
                        <i class="nav-icon fas fa-sms"></i>
                        <p>
                            Send SMS
                        </p>
                    </a>
                </li>
            </span>
            </ul>
        </nav>
    </div>
</aside>